#build-api {
  position: fixed;
  left: 0px;
  top: 0px;
  display: block;
  z-index: 99999;
  background-color: rgba(35, 35, 35, 1);
  color: rgba(235, 235, 235, 1);
  padding: 10px;
  width: 500px;
  height: 500px;
}