body {
// background-color: green;
  padding: 0px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
}
.app-header {
  // position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 20px;
  background-color: rgba(35,35,35,1);
  color: white;
  margin-bottom: 100px;
  padding: 10px;
}