body {
// background-color: green;
}

.lobroJsWelcome {
  background-color: lightgray;
  width: 100%;
  height: auto;
  min-height: 500px;
  margin: 10px;
  padding: 10px;
  .header {
    .title {
      color: rgba(255,255,255,1);
      font-weight: lighter;
    }
  }
}